<template>
  <q-page class="q-pa-lg">
    <div class="text-h4 q-mb-md">{{ pageTitle }}</div>
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Dashboard" :to="{ name: 'dashboard' }" />
      <q-breadcrumbs-el label="Items" :to="{ name: 'items.index' }" />
      <q-breadcrumbs-el :label="pageTitle" :to="{ name: 'items.create' }" />
    </q-breadcrumbs>
    <q-card flat bordered class="bg-grey-1 q-mt-sm" style="width: 1000px; max-width: 100vw;">
      <ValidationObserver ref="form" v-slot="{ handleSubmit }">
        <q-form
          @submit.prevent="handleSubmit(submit)"
          @reset="reset"
        >
          <q-card-section class="row">
            <ValidationProvider
              v-slot="{ errors, invalid, validated }"
              name="Name"
              rules="required"
              class="col-12 q-py-sm"
            >
              <q-input
                class="col-12 q-py-sm"
                outlined
                v-model="form.name"
                label="Name"
                type="text"
                :error="invalid && validated"
                :error-message="errors[0]"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors, invalid, validated }"
              name="Quantity"
              rules="required"
              class="col-12 q-py-sm"
            >
              <q-input
                class="col-12 q-py-sm"
                outlined
                v-model="form.quantity"
                label="Quantity"
                type="number"
                :error="invalid && validated"
                :error-message="errors[0]"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors, invalid, validated }"
              name="Cost Price"
              rules="required"
              class="col-12 q-py-sm"
            >
              <q-input
                class="col-12 q-py-sm"
                outlined
                v-model="form.cost_price"
                label="Cost Price"
                type="number"
                :error="invalid && validated"
                :error-message="errors[0]"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors, invalid, validated }"
              name="Sale Price"
              rules="required"
              class="col-12 q-py-sm"
            >
              <q-input
                class="col-12 q-py-sm"
                outlined
                v-model="form.sale_price"
                label="Sale Price"
                type="number"
                :error="invalid && validated"
                :error-message="errors[0]"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors, invalid, validated }"
              name="Sale Price"
              rules="required"
              class="col-12 q-py-sm"
            >
              <q-select
                outlined
                v-model="form.category_id"
                label="Select Category"
                use-chips
                use-input
                input-debounce="0"
                :options="filteredCategories"
                option-value="id"
                option-label="name"
                emit-value
                map-options
                @filter="filterFn"
                class="col-12"
                :error="invalid && validated"
                :error-message="errors[0]"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors, invalid, validated }"
              name="Description"
              rules="required"
              class="col-12 q-py-sm"
            >
              <q-input
                class="col-12 q-py-sm"
                outlined
                v-model="form.description"
                label="Description"
                type="textarea"
                :error="invalid && validated"
                :error-message="errors[0]"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors, invalid, validated }"
              name="Cost Price"
              rules="required"
              class="col-12 q-py-sm"
            >
              <q-toggle
                v-model="form.enabled"
                checked-icon="check"
                color="primary"
                label="Enabled"
                unchecked-icon="clear"
                :error="invalid && validated"
                :error-message="errors[0]"
              />
            </ValidationProvider>
          </q-card-section>
          <q-card-actions>
            <q-btn type="submit" label="Save" color="primary" />
            <q-btn type="reset" label="Clear" color="default" class="text-blue" />
          </q-card-actions>
        </q-form>
      </ValidationObserver>
    </q-card>
  </q-page>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: 'Form',
  meta () {
    return {
      title: this.pageTitle,
       titleTemplate: title => `${title} - ${process.env.APP_NAME}`,
    }
  },
  data() {
    return {
      form: {
        name: "",
        sale_price: 0,
        cost_price: 0,
        quantity: 0,
        description: "",
        category_id: null,
        enabled: true
      },
      filteredCategories: this.categoriesForSelectOptions
    };
  },
  computed: {
    pageTitle() {
      if (this.$route.name === "items.edit") {
        return "Edit Item";
      }
      return "New Item";
    },

    isEdit() {
      return this.$route.name === "items.edit";
    },

    ...mapGetters("category", [
      "categoriesForSelectOptions"
    ])
  },
  watch: {
    $route(to, from) {
      if (this.isEdit) {
        this.loadItems();
      }
      this.$nextTick(() => {
        this.$refs.form.reset();
      });
    }
  },
  async created() {
    if (this.isEdit) await this.loadItems();
    this.fetchInitialData();
  },
  methods: {
    ...mapActions("item", [
      "findItem",
      "updateItem",
      "addItem"
    ]),
    ...mapActions("category", [
      "fetchCategories"
    ]),
    async submit() {
      if (this.isEdit) {
        await this.updateItem({
          form: this.form,
          id: this.$route.params.id
        }).then(res => {
          this.reset();
          this.$q.notify({
            type: "positive",
            message: "Item Upated",
            progress: true,
            position: "top-right"
          });
          this.$router.push({ name: "items.index" });
        });
      } else {
        await this.addItem(this.form).then(res => {
          this.reset();
          this.$q.notify({
            type: "positive",
            message: "Item Created",
            progress: true,
            position: "top-right"
          });
          this.$router.push({ name: "items.index" });
        }).catch(err=> {});
      }
    },

    reset() {
      this.form.name = "",
      this.form.quantity = 0,
      this.form.cost_price = 0,
      this.form.sale_price = 0,
      this.form.description = "",
      this.form.category_id = null,
      this.enabled = true;
    },

    async loadItems() {
      await this.findItem(this.$route.params.id).then(res => {
        this.form = res.data;
      });
    },

    async fetchInitialData() {
      await this.fetchCategories();
    },

    filterFn(userInput, update) {
      update(() => {
        if (userInput === "") {
          this.filteredCategories = this.categoriesForSelectOptions;
        } else {
          const searchValue = userInput.toLowerCase();
          this.filteredCategories = this.categoriesForSelectOptions.filter(
            category => category.name.toLowerCase().indexOf(searchValue) > -1
          );
        }
      });
    }
  }
};
</script>
