<template>
  <q-page class="q-pa-lg">
    <div class="text-h4 q-mb-md">{{ pageTitle }}</div>
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Dashboard" :to="{ name: 'dashboard' }" />
      <q-breadcrumbs-el label="Customers" :to="{ name: 'customers.index' }" />
      <q-breadcrumbs-el :label="pageTitle" :to="{ name: 'customers.create' }" />
    </q-breadcrumbs>
    <q-card flat bordered class="bg-grey-1 q-mt-sm" style="width: 1000px; max-width: 100vw;">
      <ValidationObserver ref="form" v-slot="{ handleSubmit }">
        <q-form
        @submit.prevent="handleSubmit(submit)"
        @reset="reset"
        >
        <q-card-section class="row">
          <ValidationProvider
          v-slot="{ errors, invalid, validated }"
          name="Name"
          rules="required"
          class="col-12 q-py-sm"
          >
          <q-input
          class="col-12 q-py-sm"
          outlined
          v-model="form.name"
          label="Name"
          type="text"
          :error="invalid && validated"
          :error-message="errors[0]"
          />
        </ValidationProvider> 
        <ValidationProvider
        v-slot="{ errors, invalid, validated }"
        name="Email"
        rules="required"
        class="col-12 q-py-sm"
        >
        <q-input
        class="col-12 q-py-sm"
        outlined
        v-model="form.email"
        label="Email"
        type="email"
        :error="invalid && validated"
        :error-message="errors[0]"
        />
      </ValidationProvider>

      <ValidationProvider
      v-slot="{ errors, invalid, validated }"
      name="Phone"
      rules="required"
      class="col-12 q-py-sm"
      >
      <q-input
      class="col-12 q-py-sm"
      outlined
      v-model="form.phone"
      label="Phone"
      type="number"
      :error="invalid && validated"
      :error-message="errors[0]"
      />
    </ValidationProvider>
    <ValidationProvider
    v-slot="{ errors, invalid, validated }"
    name="Address"
    rules="required"
    class="col-12 q-py-sm"
    >
    <q-input
    class="col-12 q-py-sm"
    outlined
    v-model="form.address"
    label="Address"
    type="textarea"
    :error="invalid && validated"
    :error-message="errors[0]"
    />
  </ValidationProvider>
  <ValidationProvider
  v-slot="{ errors, invalid, validated }"
  name="Cost Price"
  rules="required"
  class="col-12 q-py-sm"
  >
  <q-toggle
  v-model="form.enabled"
  checked-icon="check"
  color="primary"
  label="Enabled"
  unchecked-icon="clear"
  :error="invalid && validated"
  :error-message="errors[0]"
  />
</ValidationProvider>
</q-card-section>
<q-card-actions>
  <q-btn type="submit" label="Save" color="primary" />
  <q-btn type="reset" label="Clear" color="default" class="text-blue" />
</q-card-actions>
</q-form>
</ValidationObserver>
</q-card>
</q-page>
</template>
<script>
  import { mapGetters, mapActions } from "vuex";
  export default {
    name: 'Form',
    meta () {
      return {
        title: this.pageTitle,
        titleTemplate: title => `${title} - ${process.env.APP_NAME}`,
      }
    },
    data() {
      return {
        form: {
          name: "",
          email: "",
          phone: 0,
          address: "",
          enabled: true
        }
      };
    },
    computed: {
      pageTitle() {
        if (this.$route.name === "customers.edit") {
          return "Edit Customer";
        }
        return "New Customer";
      },

      isEdit() {
        return this.$route.name === "customers.edit";
      }
    },
    watch: {
      $route(to, from) {
        if (this.isEdit) {
          this.loadCustomers();
        }
        this.$nextTick(() => {
          this.$refs.form.reset();
        });
      }
    },
    async created() {
      if (this.isEdit) await this.loadCustomers();
      this.fetchInitialData();
    },
    methods: {
      ...mapActions("customer", [
      "findCustomer",
      "updateCustomer",
      "addCustomer"
      ]),
      ...mapActions("customer", [
      "fetchCustomers"
      ]),
      async submit() {
        if (this.isEdit) {
          await this.updateCustomer({
            form: this.form,
            id: this.$route.params.id
          }).then(res => {
            this.reset();
            this.$q.notify({
              type: "positive",
              message: "Customer Upated",
              progress: true,
              position: "top-right"
            });
            this.$router.push({ name: "customers.index" });
          });
        } else {
          await this.addCustomer(this.form).then(res => {
            this.reset();
            this.$q.notify({
              type: "positive",
              message: "Customer Created",
              progress: true,
              position: "top-right"
            });
            this.$router.push({ name: "customers.index" });
          }).catch(err=> {});
        }
      },

      reset() {
        this.form.name = "",
        this.form.email = "",
        this.form.phone = 0,
        this.form.address = "",
        this.enabled = true;
      },

      async loadCustomers() {
        await this.findCustomer(this.$route.params.id).then(res => {
          this.form = res.data;
        });
      },

      async fetchInitialData() {
        await this.fetchCustomers();
      },

    }
  };
</script>
