<template>
  <q-dialog
    v-model="dialog"
    persistent
    transition-show="scale"
    transition-hide="scale"
    position="standard"
  >
    <q-card style="width: 900px; max-width: 80vw;">
      <q-card-section class="row items-center bg-blue text-white">
        <div class="text-h6">New User</div>
        <q-space />
        <q-btn
          icon="close"
          class="text-red bg-white"
          @click="closeDialog"
          round
          flat
        />
      </q-card-section>

      <q-form @submit.prevent="submit" class="q-gutter-md">
        <q-card-section class="row">
          <q-input
            class="col-12 q-py-md"
            outlined
            v-model="form.name"
            label="Name"
            type="text"
          />
          <q-input
            class="col-12 q-py-md"
            outlined
            v-model="form.email"
            label="Email"
            type="email"
            autofill="off"
          />
          <q-input
            class="col-12 q-py-md"
            v-model="form.password"
            outlined
            :type="isPasswordVisible ? 'password' : 'text'"
            label="Password"
          >
            <template v-slot:append>
              <q-icon
                :name="isPasswordVisible ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPasswordVisible = !isPasswordVisible"
              />
            </template>
          </q-input>
          <q-input
            class="col-12 q-py-md"
            v-model="form.password_confirmation"
            outlined
            :type="isPasswordVisible ? 'password' : 'text'"
            label="Confirm Password"
          >
            <template v-slot:append>
              <q-icon
                :name="isPasswordVisible ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPasswordVisible = !isPasswordVisible"
              />
            </template>
          </q-input>
          <q-select
            outlined
            v-model="form.roles"
            label="Select Roles"
            use-input
            use-chips
            multiple
            input-debounce="0"
            :options="filteredRoles"
            option-value="id"
            option-label="name"
            @filter="filterFn"
            class="col-12"
          />
          <q-toggle
            v-model="form.active"
            checked-icon="check"
            color="primary"
            label="Active"
            unchecked-icon="clear"
          />
          <q-toggle
            v-model="form.verified"
            checked-icon="check"
            color="primary"
            label="Verified"
            unchecked-icon="clear"
          />
        </q-card-section>

        <q-card-actions align="right" class="bg-grey-2">
          <q-btn type="reset" @click="clear" label="Clear" color="secondary" />
          <q-btn type="submit" label="Save" color="primary" />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>
<script>
import User from "../../../api/User";
import Role from "../../../api/Role";
import { mapValues } from "lodash";

export default {
  props: {
    showDialog: {
      required: true
    }
  },
  data() {
    return {
      dialog: false,
      isPasswordVisible: true,
      form: {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        active: false,
        verified: false,
        roles: []
      },
      roles: [],
      filteredRoles: this.roles
    };
  },
  watch: {
    showDialog: function(newValue) {
      this.dialog = newValue;
    }
  },
  mounted() {
    this.loadRoles();
  },
  methods: {
    async loadRoles() {
      this.roles = await Role.forSelectOptions();
    },

    closeDialog() {
      this.dialog = false;
      this.$emit("closeDialog");
    },

    async submit() {
      await User.create(this.form).then(res => {
        this.$q.notify({
          type: "positive",
          message: "User Created Successfully",
          progress: true,
          position: "top-right"
        });

        this.reset();
        this.closeDialog();
        this.$emit("userCreated", res.data);
      });
    },
    clear() {
      this.form = mapValues(this.form, () => null);
    },
    filterFn(userInput, update) {
      update(() => {
        if (userInput === "") {
          this.filteredRoles = this.roles;
        } else {
          const searchValue = userInput.toLowerCase();
          this.filteredRoles = this.roles.filter(
            role => role.name.toLowerCase().indexOf(searchValue) > -1
          );
        }
      });
    }
  }
};
</script>
