<template>
  <q-page class="q-pa-sm">
    <q-table
      title="Users"
      :data="users"
      :columns="columns"
      row-key="id"
      :filter="filter"
      :loading="loading"
      :rows-per-page-options="[10, 20, 50, 100]"
    >
      <template v-slot:top-right>
        <q-input
          outlined
          dense
          debounce="300"
          v-model="filter"
          placeholder="Search"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-btn
          fab-mini
          icon="add"
          small
          color="green"
          class="q-ml-md"
          @click="openCreateForm()"
        />
      </template>
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th v-for="col in props.cols" :key="col.name" :props="props">
            {{ col.label }}
          </q-th>
          <q-th auto-width />
        </q-tr>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td v-for="col in props.cols" :key="col.name" :props="props">
            {{ col.value }}
          </q-td>
          <q-td>
            <div class="q-gutter-sm">
              <q-btn
                :to="{ name: 'users.overview', params: {id: props.row.id} }"
                icon="arrow_forward_ios"
                size="sm"
              ></q-btn>
              <q-btn
                color="red"
                @click="deleteUser(props.row.id)"
                icon="delete"
                size="sm"
              ></q-btn>
            </div>
          </q-td>
        </q-tr>
      </template>
    </q-table>
    <create-form
      :createForm="true"
      :showDialog="createForm"
      @closeDialog="closeCreateForm"
      @userCreated="userCreated"
    />
  </q-page>
</template>
<script>
import User from "../../../api/User";
import CreateForm from "./Form";

export default {
  name: 'Users',
  meta () {
    return {
      title: 'Users',
       titleTemplate: title => `${title} - ${process.env.APP_NAME}`,
    }
  },
  components: {
    CreateForm
  },
  data() {
    return {
      filter: "",
      loading: true,
      columns: [
        {
          name: "id",
          label: "ID",
          field: "id",
          sortable: true,
          align: "left"
        },
        {
          name: "name",
          align: "left",
          label: "Name",
          field: "name",
          sortable: true
        },
        {
          name: "email",
          align: "left",
          label: "Email Account",
          field: "email",
          sortable: true
        },
        {
          name: "created",
          align: "left",
          label: "Date Created",
          field: "created_at",
          format: val => `${new Date(val).toDateString()}`,
          sortable: true
        }
      ],
      users: [],
      createForm: false
    };
  },
  async created() {
    await this.fetchUsers();
  },
  methods: {
    async fetchUsers() {
      await User.all().then(res => {
        this.users = res.data;
        this.loading = false;
      });
    },
    openCreateForm() {
      this.createForm = true;
    },
    closeCreateForm() {
      this.createForm = false;
    },
    userCreated(data) {
      this.users.push(data);
    },
    async deleteUser(id) {
      await this.$q
        .dialog({
          title: "Confirm",
          message:
            "Would you like to delete this user? this action cannot be reversed",
          cancel: true,
          persistent: true,
          color: "red"
        })
        .onOk(async () => {
          await User.delete(id).then(res => {
            this.$q.notify({
              type: "positive",
              message: "User Deleted Successfully",
              progress: true,
              position: "top-right"
            });
          });
          this.fetchUsers();
        });
    }
  }
};
</script>
