<template>
  <q-card>
    <q-card-section class="text-body1">
      User Information
    </q-card-section>
    <q-card-section>
      <q-form @submit.prevent="submit" class="q-gutter-md">
        <q-card-section class="row">
          <q-input
            class="col-12 q-py-md"
            outlined
            v-model="userForm.name"
            label="Name"
            type="text"
          />
          <q-input
            class="col-12 q-py-md"
            outlined
            v-model="userForm.email"
            label="Email"
            type="email"
            autofill="off"
          />
          <q-select
            outlined
            v-model="userForm.roles"
            label="Select Roles"
            use-input
            use-chips
            multiple
            input-debounce="0"
            :options="filteredRoles"
            option-value="id"
            option-label="name"
            @filter="filterFn"
            class="col-12"
          />
          <q-toggle
            v-model="userForm.active"
            checked-icon="check"
            color="primary"
            label="Active"
            unchecked-icon="clear"
          />
          <q-toggle
            v-model="userForm.verified"
            checked-icon="check"
            color="primary"
            label="Verified"
            unchecked-icon="clear"
          />
        </q-card-section>
        <q-card-section>
          <q-btn type="submit" label="Save" color="primary" />
        </q-card-section>
      </q-form>
    </q-card-section>
  </q-card>
</template>
<script>
import User from "../../../api/User";
import Role from "../../../api/Role";
import { map, pick } from "lodash";

export default {
  name: 'Overview',
  meta () {
    return {
      title: 'User Overview',
       titleTemplate: title => `${title} - ${process.env.APP_NAME}`,
    }
  },
  data() {
    return {
      user: null,
      userForm: {
        name: "",
        email: "",
        active: false,
        verified: true,
        roles: []
      },
      roles: [],
      filteredRoles: this.roles
    };
  },

  async created() {
    const { data } = await User.find(this.$route.params.id);
    this.user = data;
    this.loadRoles();

    this.userForm.name = data.name;
    this.userForm.email = data.email;
    this.userForm.active = data.active;
    this.userForm.verified = data.email_verified_at === null ? false : true;
    this.userForm.roles = this.serializeUserRoles();
  },
  methods: {
    async submit() {
      await User.update(this.user.id, this.userForm).then(res => {
        this.$q.notify({
          type: "positive",
          message: `User Updated Successfully`,
          progress: true,
          position: "top-right"
        });

        this.$router.go(1);
      });
    },
    async loadRoles() {
      this.roles = await Role.forSelectOptions();
    },
    filterFn(userInput, update) {
      update(() => {
        if (userInput === "") {
          this.filteredRoles = this.roles;
        } else {
          const searchValue = userInput.toLowerCase();
          this.filteredRoles = this.roles.filter(
            role => role.name.toLowerCase().indexOf(searchValue) > -1
          );
        }
      });
    },
    serializeUserRoles() {
      return map(this.user.roles, role => pick(role, ["id", "name"]));
    }
  }
};
</script>
