<template>
  <q-card>
    <q-card-section class="text-body1">
      Update Password
    </q-card-section>
    <q-card-section>
      <q-form @submit.prevent="submit" class="q-gutter-md">
        <div class="text-center">
          <q-chip
            square
            color="deep-orange"
            text-color="white"
            v-if="error.errors.length !== 0"
          >
            {{ error.message }}
          </q-chip>
        </div>
        <q-card-section class="row">
          <q-input
            class="col-12"
            v-model="form.password"
            outlined
            :error="error.errors.length !== 0"
            :error-message="
              error.errors.length !== 0 ? error.errors.password[0] : ''
            "
            :type="isPasswordVisible ? 'password' : 'text'"
            label="Password"
          >
            <template v-slot:append>
              <q-icon
                :name="isPasswordVisible ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPasswordVisible = !isPasswordVisible"
              />
            </template>
          </q-input>
          <q-input
            class="col-12 q-py-md"
            v-model="form.password_confirmation"
            outlined
            :type="isPasswordVisible ? 'password' : 'text'"
            label="Confirm Password"
          >
            <template v-slot:append>
              <q-icon
                :name="isPasswordVisible ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPasswordVisible = !isPasswordVisible"
              />
            </template>
          </q-input>
          <q-btn type="submit" label="Save" color="primary" />
        </q-card-section>
      </q-form>
    </q-card-section>
  </q-card>
</template>
<script>
import User from "../../../api/User";

export default {
  name: 'Password',
  meta () {
    return {
      title: 'User Password',
       titleTemplate: title => `${title} - ${process.env.APP_NAME}`,
    }
  },
  data() {
    return {
      user: null,
      isPasswordVisible: true,
      form: {
        password: "",
        password_confirmation: ""
      },
      error: {
        errors: [],
        message: ""
      }
    };
  },

  async created() {
    const { data } = await User.find(this.$route.params.id);
    this.user = data;
  },
  methods: {
    async submit() {
      await User.updatePassword(this.$route.params.id, this.form)
        .then(res => {
          this.$q.notify({
            type: "positive",
            message: "Password Updated Successully",
            progress: true,
            position: "top-right"
          });
          this.clear();
          this.errors;
        })
        .catch(err => {
          this.error = err.response.data;
        });
    },
    clear() {
      this.form = mapValues(this.form, () => null);
      this.error = mapValues(this.form, () => null);
    }
  }
};
</script>
