<template>
  <q-page class="q-ma-lg">
    <div class="row">
        <div class="col">
            <div class="text-h4 text-weight-medium">
                User profile
            </div>
        </div>
    </div>
    <q-splitter v-model="splitterModel">
      <template v-slot:before>
        <q-list>
          <q-item exact active-class="text-blue" :to="{ name: 'users.overview', params: {id: $route.params.id} }" clickable v-ripple>
            <q-item-section>Overview</q-item-section>
          </q-item>

          <q-item exact active-class="text-blue" :to="{ name: 'users.password', params: {id: $route.params.id} }">
            <q-item-section>
              <q-item-label>Password</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </template>

      <template v-slot:after>
        <router-view />
      </template>
    </q-splitter>
  </q-page>
</template>
<script>
export default {
    data() {
        return {
            splitterModel: 15
        }
    }
};
</script>
