<template>
  <q-dialog
    v-model="dialog"
    persistent
    transition-show="scale"
    transition-hide="scale"
    position="standard"
  >
    <q-card style="width: 900px; max-width: 80vw;">
      <q-card-section class="row items-center bg-blue text-white">
        <div class="text-h6" v-if="editForm && item !== null">Edit Role #<span class="text-grey">{{ item.name }}</span> </div>
        <div class="text-h6" v-else>New Role</div>
        <q-space />
        <q-btn
          icon="close"
          class="text-red bg-white"
          @click="closeDialog"
          round
          flat
        />
      </q-card-section>

      <q-form @submit.prevent="submit" @reset="reset" class="q-gutter-md">
        <q-card-section class="row justify-center">
          <q-input
            class="col-12 q-py-md"
            outlined
            v-model="form.name"
            label="Role"
            type="text"
          />
          <div class="row">
            <div class="text-h6">Choose Permissions</div>
            <q-separator />
            <div
              class="col-3"
              v-for="(permission, index) in permissions"
              :key="index"
            >
              <q-toggle
                v-model="form.permissions"
                checked-icon="check"
                color="primary"
                :label="
                  String(permission.name)
                    .replace('_', ' ')
                    .toUpperCase()
                    .replace('-', ' ')
                "
                unchecked-icon="clear"
                :val="permission.id"
                :value="permission.name"
              />
            </div>
          </div>
        </q-card-section>

        <q-card-actions align="right" class="bg-grey-2">
          <q-btn type="reset" label="Clear" color="secondary" />
          <q-btn type="submit" label="Save" color="primary" />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>
<script>
import Role from "../../../api/Role";
import Permission from "../../../api/Permission";

export default {
  name: 'Form',
  meta () {
    return {
      title: 'Form',
       titleTemplate: title => `${title} - ${process.env.APP_NAME}`,
    }
  },
  props: {
    showDialog: {
      required: true
    },
    item: {
      required: false,
      default: null
    },
    editForm: {
      default: false
    },
    createForm: {
      default: false
    }
  },
  data() {
    return {
      dialog: false,
      form: {
        name: "",
        permissions: []
      },
      permissions: []
    };
  },
  watch: {
    showDialog: function(newValue) {
      this.dialog = newValue;
    },
    item: function(role) {
      if (role) {
        this.form.name = role.name;
        this.form.permissions = Object.keys(role.permissions).map(x => +x);
      }
    }
  },
  mounted() {
    this.loadPermissions();
  },
  methods: {
    async loadPermissions() {
      const { data } = await Permission.all();
      this.permissions = data;
    },

    closeDialog() {
      this.dialog = false;
      this.$emit("closeDialog");
    },

    async submit() {
      if (this.createForm) 
        await Role.create(this.form).then(res => {
          this.onComplete("Created");
          this.$emit("roleCreated", res.data);
        });

      if (this.editForm) 
        await Role.update(this.item.id, this.form).then(res => {
          this.onComplete("Updated");
        });

      this.$router.go(1);
    },
    reset() {
      this.form.name = "", this.form.permissions = [];
    },
    onComplete(actionType) {
      this.$q.notify({
        type: "positive",
        message: `Role ${actionType} Successfully`,
        progress: true,
        position: "top-right"
      });
      this.reset();
      this.closeDialog();
    }
  }
};
</script>
