<template>
  <q-page class="q-pa-sm">
    <q-table
      title="Roles"
      :data="roles"
      :columns="columns"
      row-key="id"
      :filter="filter"
      :loading="loading"
      :rows-per-page-options="[10, 20, 50, 100]"
    >
      <template v-slot:top-right>
        <q-input
          outlined
          dense
          debounce="300"
          v-model="filter"
          placeholder="Search"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-btn
          fab-mini
          icon="add"
          small
          color="green"
          class="q-ml-md"
          @click="openCreateForm()"
        />
      </template>
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width />
          <q-th v-for="col in props.cols" :key="col.name" :props="props">
            {{ col.label }}
          </q-th>
          <q-th auto-width />
        </q-tr>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-btn
              size="sm"
              color="primary"
              round
              dense
              @click="props.expand = !props.expand"
              :icon="props.expand ? 'remove' : 'add'"
            />
          </q-td>
          <q-td v-for="col in props.cols" :key="col.name" :props="props">
            <q-badge
              v-if="col.name == 'users_count'"
              color="green"
              text-color="white"
              :label="col.value"
            />
            <span v-else>{{ col.value }}</span>
          </q-td>
          <q-td>
            <div class="q-gutter-sm">
              <q-btn
                color="primary"
                @click="editRole(props.row)"
                icon="edit"
                size="sm"
              ></q-btn>
              <q-btn
                color="red"
                @click="deleteRole(props.row.id)"
                icon="delete"
                size="sm"
              ></q-btn>
            </div>
          </q-td>
        </q-tr>
        <q-tr v-show="props.expand" :props="props">
          <q-td class="bg-blue-1" colspan="100%">
            <div class="h3">Permissions Allowed</div>
            <ol class="row">
              <li
                style="text-transform:capitalize"
                class="col-3"
                v-for="(permission, index) in props.row.permissions"
                :key="index"
              >
                {{
                  String(permission)
                    .replace("_", " ")
                    .replace("-", " ")
                }}
              </li>
            </ol>
            <q-separator />
            <div class="h3">Users</div>
            <ol class="row">
              <li
                style="text-transform:capitalize"
                class="col-3"
                v-for="(user, index) in props.row.users"
                :key="index"
              >
                {{ user }}
              </li>
            </ol>
          </q-td>
        </q-tr>
      </template>
    </q-table>
    <create-form
      :createForm="true"
      :showDialog="createForm"
      @closeDialog="closeCreateForm"
      @roleCreated="roleCreated"
    />
    <edit-form
      :editForm="true"
      :item="editingItem"
      :showDialog="editForm"
      @closeDialog="closeEditForm"
    />
  </q-page>
</template>
<script>
import Role from "../../../api/Role";
import CreateForm from "./Form";
import EditForm from "./Form";

export default {
  name: 'Roles',
  meta () {
    return {
      title: 'Roles',
       titleTemplate: title => `${title} - ${process.env.APP_NAME}`,
    }
  },
  components: {
    CreateForm,
    EditForm
  },
  data() {
    return {
      filter: "",
      loading: true,
      columns: [
        {
          name: "id",
          label: "ID",
          field: "id",
          sortable: true,
          align: "left"
        },
        {
          name: "name",
          align: "left",
          label: "Name",
          field: "name",
          sortable: true
        },
        {
          name: "users_count",
          align: "left",
          label: "Users Count",
          field: "users_count",
          sortable: true
        },
        {
          name: "created",
          align: "left",
          label: "Date Created",
          field: "created_at",
          format: val => `${new Date(val).toDateString()}`,
          sortable: true
        }
      ],
      roles: [],
      createForm: false,
      editForm: false,
      itemToBeEdited: null
    };
  },
  async created() {
    await this.fetchRoles();
  },
  computed: {
    editingItem: function() {
      return this.itemToBeEdited;
    }
  },
  methods: {
    async fetchRoles() {
      await Role.all().then(res => {
        this.roles = res.data;
        this.loading = false;
      });
    },
    openCreateForm() {
      this.createForm = true;
    },
    closeCreateForm() {
      this.createForm = false;
    },
    roleCreated(data) {
      this.roles.push(data);
    },
    async deleteRole(id) {
      await this.$q
        .dialog({
          title: "Confirm",
          message:
            "Would you like to delete this role? this action cannot be reversed",
          cancel: true,
          persistent: true,
          color: "red"
        })
        .onOk(async () => {
          await Role.delete(id).then(res => {
            this.$q.notify({
              type: "positive",
              message: "Role Deleted Successfully",
              progress: true,
              position: "top-right"
            });
          });
          this.fetchRoles();
        });
    },
    editRole(item) {
      this.itemToBeEdited = item;
      this.editForm = true;
    },
    closeEditForm() {
      this.editForm = false;
    }
  }
};
</script>
