<template>
  <q-page class="q-pa-lg">
    <div class="text-h4 q-mb-md">{{ pageTitle }}</div>
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Dashboard" :to="{ name: 'dashboard' }" />
      <q-breadcrumbs-el label="Categories" :to="{ name: 'categories.index' }" />
      <q-breadcrumbs-el
        :label="pageTitle"
        :to="{ name: 'categories.create' }"
      />
    </q-breadcrumbs>
    <q-card flat bordered class="bg-grey-1 q-mt-sm" style="width: 1000px; max-width: 100vw;">
      <ValidationObserver ref="form" v-slot="{ handleSubmit }">
        <q-form
          @submit.prevent="handleSubmit(submit)"
          class="q-gutter-md"
          @reset="resetForm"
        >
          <q-card-section class="row">
            <ValidationProvider
              v-slot="{ errors, invalid, validated }" 
              name="Name"
              rules="required"
              class="col-12 q-py-sm"
            >
              <q-input
                class="col-12 q-py-sm"
                outlined
                v-model="form.name"
                label="Name"
                type="text"
                :error="invalid && validated"
                :error-message="errors[0]"
              />
            </ValidationProvider>
          </q-card-section>
          <q-card-actions>
            <q-btn type="submit" label="Save" color="primary" />
            <q-btn type="reset" label="Clear" color="default" class="text-blue" />
          </q-card-actions>
        </q-form>
      </ValidationObserver>
    </q-card>
  </q-page>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: 'Form',
  meta () {
    return {
      title: this.pageTitle,
       titleTemplate: title => `${title} - ${process.env.APP_NAME}`,
    }
  },
  data() {
    return {
      form: {
        name: ""
      }
    };
  },
  computed: {
    pageTitle() {
      if (this.$route.name === "categories.edit") {
        return "Edit Category";
      }
      return "New Category";
    },
    isEdit() {
      return this.$route.name === "categories.edit";
    }
  },
  watch: {
    $route(to, from) {
      if (this.isEdit) {
        this.loadCategory();
      }
      this.$nextTick(() => {
        this.$refs.form.reset();
      });
    }
  },
  async created() {
    if (this.isEdit) await this.loadCategory();
  },
  methods: {
    ...mapActions("category", [
      "findCategory",
      "updateCategory",
      "addCategory"
    ]),
    async submit() {
      if (this.isEdit) {
        await this.updateCategory({
          form: this.form,
          id: this.$route.params.id
        }).then(res => {
          this.resetForm();
          this.$q.notify({
            type: "positive",
            message: "Category Upated",
            progress: true,
            position: "top-right"
          });
          this.$router.push({ name: "categories.index" });
        });
      } else {
        await this.addCategory(this.form).then(res => {
          this.resetForm();
          this.$q.notify({
            type: "positive",
            message: "Category Created",
            progress: true,
            position: "top-right"
          });
          this.$router.push({ name: "categories.index" });
        });
      }
    },
    resetForm() {
      this.form.name = "";
      this.$refs.form.reset();
    },
    async loadCategory() {
      await this.findCategory(this.$route.params.id).then(res => {
        this.form = res.data;
      });
    }
  }
};
</script>
