<template>
  <q-page class="q-pa-sm">
    <q-table
      title="Categories"
      :data="categories"
      :columns="columns"
      row-key="id"
      :filter="filter"
      :loading="tableLoading"
      :rows-per-page-options="[10, 20, 50, 100]"
    >
      <template v-slot:top-right>
        <q-input
          outlined
          dense
          debounce="300"
          v-model="filter"
          placeholder="Search"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-btn
          fab-mini
          icon="add"
          small
          color="green"
          class="q-ml-md"
          :to="{ name: 'categories.create' }"
        />
      </template>
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th v-for="col in props.cols" :key="col.name" :props="props">
            {{ col.label }}
          </q-th>
          <q-th auto-width />
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td v-for="col in props.cols" :key="col.name" :props="props">
            <span>{{ col.value }}</span>
          </q-td>
          <q-td>
            <div class="q-gutter-sm">
              <q-btn flat icon="more_horiz">
                <q-menu auto-close transition-show="jump-down" transition-hide="jump-up">
                  <q-list style="min-width: 100px">
                    <q-item
                      :to="{
                        name: 'categories.edit',
                        params: { id: props.row.id }
                      }"
                      clickable
                      v-ripple
                    >
                      <q-item-section>Edit</q-item-section>
                    </q-item>
                    <q-item
                      @click="removeCategory(props.row.id)"
                      clickable
                      v-ripple
                    >
                      <q-item-section>Delete</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-btn>
            </div>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </q-page>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'Categories',
  meta () {
    return {
      title: 'Categories',
       titleTemplate: title => `${title} - ${process.env.APP_NAME}`,
    }
  },
  data() {
    return {
      filter: "",
      loading: true,
      columns: [
        {
          name: "id",
          label: "ID",
          field: "id",
          sortable: true,
          align: "left"
        },
        {
          name: "name",
          align: "left",
          label: "Name",
          field: "name",
          sortable: true
        },
        {
          name: "created",
          align: "left",
          label: "Date Created",
          field: "created_at",
          format: val => `${new Date(val).toDateString()}`,
          sortable: true
        }
      ]
    };
  },
  computed: {
    ...mapGetters('category', [
      'categories'
    ]),
    ...mapGetters(['tableLoading']),
  },
  async created() {
    await this.fetchCategories();
  },
  methods: {
    ...mapActions('category', [
      'fetchCategories',
      'deleteCategory'
    ]),
    async removeCategory(id) {
      await this.$q
        .dialog({
          title: "Are you sure",
          message:
            "You will not be able to recover this item",
          cancel: true,
          persistent: true,
          color: "red"
        })
        .onOk(async () => {
          let res = await this.deleteCategory(id);
          if (res.status === 200) {
            this.$q.notify({
              type: "positive",
              message: "Category Deleted Successfully",
              progress: true,
              position: "top-right"
            }); 
          }
        });
    }
  }
};
</script>
