<template>
  <q-page class="flex flex-center">
    <q-card bordered style="min-width:450px">
      <q-card-section class="q-pt-lg bg-primary text-white">
        <div class="text-h4 text-uppercase">Reset Password</div>
      </q-card-section>
      <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
        <q-form @submit.prevent="handleSubmit(submit)" class="q-gutter-md">
          <q-card-section class="row justify-center">
            <ValidationProvider
              v-slot="{ errors, invalid, validated }"
              name="Email"
              rules="required|email"
              class="col-12 q-py-md"
            >
              <q-input
                outlined
                v-model="form.email"
                label="E-mail Address"
                type="email"
                :error="invalid && validated"
                :error-message="errors[0]"
              />
            </ValidationProvider>
          </q-card-section>

          <q-card-actions align="between" class="q-ma-xs">
            <q-btn
              label="Back to Login"
              color="primary"
              flat
              type="submit"
              class="q-ml-sm"
              icon="west"
              no-caps
              :to="{ name: 'login' }"
            />
            <q-btn
              label="Send Password Reset Link"
              color="primary"
              type="submit"
              class="q-ml-sm"
            />
          </q-card-actions>
        </q-form>
      </ValidationObserver>
    </q-card>
  </q-page>
</template>
<script>
import { mapGetters } from "vuex";
import Auth from "../api/Auth";

export default {
  name: "ForgotPassword",
  meta () {
    return {
      title: 'Forgot Password',
       titleTemplate: title => `${title} - ${process.env.APP_NAME}`,
    }
  },
  data() {
    return {
      form: {
        email: ""
      },
      error: null
    };
  },
  methods: {
    async submit() {
      await Auth.requestPasswordResetLinkEmail(this.form)
        .then(res => {
          this.$q.notify({
            type: "positive",
            message: res.data.message,
            progress: true,
            position: "top"
          });
        })
        .catch(() => {});
    },
    reset() {
      this.form.email = null;
    }
  }
};
</script>
