<template>
  <q-page class="flex flex-center">
    <h3>Welcome, <strong>{{ user.name }}</strong></h3>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: 'Dashboard',
    meta () {
    return {
      title: 'Dashboard',
       titleTemplate: title => `${title} - ${process.env.APP_NAME}`,
    }
  },
    computed: {
        ...mapGetters({
            user: 'auth/user',
        }),
    }
};
</script>
