<template>
  <q-page class="flex flex-center">
    <q-card bordered>
      <q-card-section class="q-pt-lg bg-primary text-white">
        <div class="text-h4 text-uppercase">Login</div>
      </q-card-section>
      <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
        <q-form
          @submit.prevent="handleSubmit(submit)"
          class="q-gutter-md"
        >
          <q-card-section class="row justify-center">
            <ValidationProvider
              v-slot="{ errors, invalid, validated }"
              name="Email"
              rules="required|email"
              class="col-12 q-py-md"
            >
              <q-input
                outlined
                v-model="form.email"
                label="Email"
                type="email"
                :error="invalid && validated"
                :error-message="errors[0]"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors, invalid, validated }"
              name="Password"
              rules="required"
              class="col-12"
            >
              <q-input
                v-model="form.password"
                outlined
                :type="isPasswordVisible ? 'password' : 'text'"
                label="Password"
                :error="invalid && validated"
                :error-message="errors[0]"
              >
                <template v-slot:append>
                  <q-icon
                    :name="isPasswordVisible ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPasswordVisible = !isPasswordVisible"
                  />
                </template>
              </q-input>
            </ValidationProvider>
          </q-card-section>

          <q-card-actions align="between" class="q-ma-xs">
            <q-btn
              label="Forgot your password?"
              color="primary"
              flat
              class="q-ml-sm"
              no-caps
              :to="{ name: 'forgot-password' }"
            />
            <q-btn label="Submit" type="submit" color="primary" />
          </q-card-actions>
        </q-form>
      </ValidationObserver>
    </q-card>
  </q-page>
</template>
<script>
import { mapGetters } from "vuex";
import Auth from "../api/Auth";

export default {
  name: "Login",
  meta: { title: "Login" },
  data() {
    return {
      form: {
        email: "admin@admin.com",
        password: "secret"
      },
      error: null,
      isPasswordVisible: true
    };
  },
  methods: {
    async submit() {
      await Auth.login(this.form)
        .then(async ({ data }) => {
          await this.$store.dispatch("auth/saveToken", {
            token: data.token,
            remember: data.expiration
          });
          await this.$store.dispatch("auth/fetchUser");

          this.$router.push("/").catch(e => {});
        })
        .catch(() => {});
    },
    reset() {
      this.form.email = this.form.password = null;
    }
  }
};
</script>
