<template>
  <q-page class="q-mt-xl">
    <q-splitter v-model="splitterModel" style="height: 250px">
      <template v-slot:before>
        <q-tabs v-model="tab" vertical>
          <div class="text-h4 text-center text-blue">Profile</div>
          <q-separator />
          <q-tab name="account" label="Account" />
          <q-tab name="security" label="Security" />
        </q-tabs>
      </template>

      <template v-slot:after>
        <q-tab-panels
          v-model="tab"
          animated
          swipeable
          vertical
          transition-prev="jump-up"
          transition-next="jump-up"
        >
          <q-tab-panel name="account">
            <div class="text-h4 q-mb-md">Account</div>
            Account Settings
          </q-tab-panel>

          <q-tab-panel name="security">
            <div class="text-h4 q-mb-md">Security</div>
            Security Settings
          </q-tab-panel>
        </q-tab-panels>
      </template>
    </q-splitter>
  </q-page>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  name: "Profile",
  meta () {
    return {
      title: 'Profile',
      titleTemplate: title => `${title} - ${process.env.APP_NAME}`,
    }
  },
  computed: {
    ...mapGetters({
      authUser: "auth/user"
    })
  },
  data() {
    return {
      tab: "account",
      splitterModel: 20
    };
  }
};
</script>
