<template>
  <q-page class="flex flex-center">
    <q-card bordered>
      <q-card-section class="q-pt-lg bg-primary text-white">
        <div class="text-h4 text-uppercase">Reset Password</div>
      </q-card-section>
      <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
        <q-form @submit.prevent="handleSubmit(submit)" class="q-gutter-md">
          <q-card-section class="row justify-center">  
              <ValidationProvider
              v-slot="{ errors, invalid, validated }"
              name="Password"
              rules="required|confirmed:password_confirmation|min:2"
              class="col-12 q-py-md"
            >
            <q-input
              class="col-12 q-py-md"
              v-model="form.password"
              outlined
              :type="isPasswordVisible ? 'password' : 'text'"
              label="Password"
              :error="invalid && validated"
                :error-message="errors[0]"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPasswordVisible ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPasswordVisible = !isPasswordVisible"
                />
              </template>
            </q-input>
            </ValidationProvider>
              <ValidationProvider
              v-slot="{ errors, invalid, validated }"
              name="Confirm Password"
              rules="required"
              class="col-12 q-py-md"
              vid="password_confirmation"
            >
            <q-input
              class="col-12 q-py-md"
              v-model="form.password_confirmation"
              outlined
              :type="isPasswordVisible ? 'password' : 'text'"
              label="Confirm Password"
              :error="invalid && validated"
                :error-message="errors[0]"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPasswordVisible ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPasswordVisible = !isPasswordVisible"
                />
              </template>
            </q-input>
            </ValidationProvider>
          </q-card-section>

          <q-card-actions align="between" class="q-ma-xs">
            <q-btn
              label="Back to Login"
              color="primary"
              flat
              type="submit"
              class="q-ml-sm"
              icon="west"
              no-caps
              :to="{ name: 'login' }"
            />
            <q-btn
              label="Reset Password"
              color="primary"
              type="submit"
              class="q-ml-sm"
            />
          </q-card-actions>
        </q-form>
      </ValidationObserver>
    </q-card>
  </q-page>
</template>
<script>
import { mapGetters } from "vuex";
import Auth from "../api/Auth";

export default {
  name: "ResetPassword",
  meta () {
    return {
      title: 'Reset Password',
       titleTemplate: title => `${title} - ${process.env.APP_NAME}`,
    }
  },
  data() {
    return {
      form: {
        email: "",
        token: "",
        password: "",
        password_confirmation: ""
      },
      error: null,
      isPasswordVisible: true
    };
  },
  mounted(){
    const {email, token} = this.$route.query;
    this.form.email = email;
    this.form.token = token;
  },
  methods: {
    async submit() {
      await Auth.resetPassword(this.form)
        .then(res => {
          this.$q.notify({
            type: "positive",
            message: res.data.message,
            progress: true,
            position: "top"
          });
          this.$router.push({name: 'login'});
        })
        .catch(() => {});
    },
    reset() {
      this.form.email = null;
    }
  }
};
</script>
