<template>
  <q-header elevated>
    <q-toolbar>
      <q-btn flat round dense icon="menu" @click.stop="toggleSidebar()" />
      <q-toolbar-title>
        Inventory App
      </q-toolbar-title>
      <q-space />
      <q-btn flat outline round dense color="white" dark icon="account_circle" fab>
        <q-menu anchor="center start" fit self="top end" class="shadow-4 rounded-borders q-mr-lg">
          <q-item class="q-mr-lg">
            <q-item-section avatar>
              <q-avatar>
                <q-icon name="person" />
              </q-avatar>
            </q-item-section>
            <q-item-section>{{ authUser.name }}</q-item-section>
          </q-item>
          <q-item exact to="/profile" clickable>
            <q-item-section >Profile</q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section @click="logout">Logout</q-item-section>
          </q-item>
        </q-menu>
      </q-btn>
    </q-toolbar>
  </q-header>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import Auth from "../api/Auth";
export default {
  data() {
    return {
      menu: null,
    };
  },
  methods: {
    ...mapActions([
      'toggleSidebar',
    ]),
    logout() {
      Auth.logout().then((response) => {
        this.$store.dispatch("auth/logout");
        this.$router.push({name: "login"});
      });
    },
  },
  computed: {
    ...mapGetters({
      authUser: "auth/user",
    }),
  },
};
</script>