<template>
  <q-footer
    class="items-center text-center"
    :width="230"
  >
    &copy; {{ date }} Infinivis Technologies
  </q-footer>
</template>
<script>
export default {
  computed: {
    date() {
      return new Date().getFullYear();
    }
  }
};
</script>
