<template>
  <q-drawer
  v-model="isSidebarOpen"
  side="left"
  bordered
  content-class="bg-grey-1"
  :width="230"
  >
  <q-scroll-area class="fit" style="border-right: 1px solid #ddd">
    <q-list>
      <q-item exact :to="{ name: 'dashboard' }" clickable v-ripple>
        <q-item-section avatar>
          <q-icon name="apps" />
        </q-item-section>
        <q-item-section>Dashboard</q-item-section>
      </q-item>
      <q-item
      exact
      v-if="userCan('read-items')"
      :to="{ name: 'items.index' }"
      clickable
      v-ripple
      >
      <q-item-section avatar>
        <q-icon name="list" />
      </q-item-section>
      <q-item-section>Items</q-item-section>
    </q-item>

    <q-item
    exact
    v-if="userCan('read-categories')"
    :to="{ name: 'categories.index' }"
    clickable
    v-ripple
    >
    <q-item-section avatar>
      <q-icon name="view_module" />
    </q-item-section>
    <q-item-section>Categories</q-item-section>
  </q-item>
  <q-item
  exact
  v-if="userCan('read-customers')"
  :to="{ name: 'customers.index' }"
  clickable
  v-ripple
  >
  <q-item-section avatar>
    <q-icon name="people" />
  </q-item-section>
  <q-item-section>Customers</q-item-section>
</q-item>
<q-item-section avatar>
  <q-icon name="people" />
</q-item-section>
<q-item-section>Customers</q-item-section>
</q-item>
<q-expansion-item
expand-separator
icon="lock"
label="Authentication"
v-if="userCanAny(['read-users', 'read-roles'])"
>
<q-item
exact
v-if="userCan('read-users')"
:to="{ name: 'users.index' }"
clickable
v-ripple
>
<q-item-section avatar>
  <q-icon name="person_outline" />
</q-item-section>
<q-item-section>Users</q-item-section>
</q-item>
<q-item
exact
v-if="userCan('read-roles')"
:to="{ name: 'roles.index' }"
clickable
v-ripple
>
<q-item-section avatar>
  <q-icon name="vpn_key" />
</q-item-section>
<q-item-section>Roles</q-item-section>
</q-item>
</q-expansion-item>
</q-list>
</q-scroll-area>
</q-drawer>
</template>
<script>
  import { mapGetters } from 'vuex'

  export default {
    computed: {
      ...mapGetters(['isSidebarOpen']),
    },
  };
</script>
