<template>
  <div class="fullscreen text-center q-pa-md flex flex-center">
    <div>
      <div class=" q-my-sm text-center">
        <span class="text-h3 text-red">OoOoOps!!</span> <br />
        <span class="text-h5" style="opacity:.4 "
          >Your Email has currently not been verified!</span
        >
        <br />
        <span class="" style="opacity:.4 "
          >Check your Mail inbox for verficication link</span
        >
      </div>
      <div class="text-h6 text-blue text-center" style="opacity:.4">
        OR
      </div>
      <q-btn
        color="green"
        text-color="white"
        class="q-my-sm"
        glossy
        @click="resendVerificationLink"
        label="Click here to send you a fresh verification link!"
        no-caps
      />
    </div>
    <q-circular-progress
      :indeterminate="loading"
      size="50px"
      color="blue"
      class="q-ma-md"
    />
  </div>
</template>

<script>
import Auth from "../api/Auth";

export default {
  props: ["loading"],
  name: "Unverified",
  methods: {
    async resendVerificationLink() {
      await Auth.resendVerificationMail()
        .then(res => {
          this.$q.notify({
            type: "positive",
            message: res.data.message,
            progress: true,
            position: "top"
          });
        })
    }
  }
};
</script>
