<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
import Base from "./api/Base";
export default {
  name: "App",
  created() {
    if (window.location.href.indexOf("login") < -1) {
      new Base().test().catch(err => {
        if (err.response) {
          if (err.response.status === 401) this.$store.dispatch("auth/logout");
        }
      });
    }
  }
};
</script>
