<template>
  <q-layout view="hHh Lpr fFf">
    <div v-if="isVerified">
      <AppBar/>
      <NavBar/>
      <Footer />
      <q-page-container>
        <keep-alive>
          <router-view />
        </keep-alive>
      </q-page-container>
    </div>
    <div v-else>
      <unverified :loading="loading" />
    </div>
  </q-layout>
</template>

<script>
import Footer from "../components/Footer";
import NavBar from "../components/NavBar";
import AppBar from "../components/AppBar";
import Unverified from "../components/Unverified";
import { mapGetters } from "vuex";
import Auth from "../api/Auth";

export default {
  components: {
    AppBar,
    NavBar,
    Footer,
    Unverified
  },
  data() {
    return {
      loading: false
    };
  },
  computed: {
    ...mapGetters({
      isVerified: "auth/isVerified"
    })
  },
  async mounted() {
    if (this.$route.path.includes("email")) {
      const [, , , , id, hash] = this.$route.path.split("/");

      this.loading = true;

      await Auth.verifyMail(id, hash, this.$route.query)
        .then(async res => {
          await this.$store.dispatch("auth/fetchUser");
          this.loading = false;
          this.$q.notify({
            type: "positive",
            message: res.data.message,
            progress: true,
            position: "top"
          });
          this.$router.go(1);
        })
        .catch(error => {
          this.loading.false;
        });
    }
  }
};
</script>
