<template>
  <q-layout view="hHh Lpr fFf">
    <q-page-container>
      <router-view />
      <Footer />
    </q-page-container>
  </q-layout>
</template>

<script>
import Footer from '../components/Footer';
export default {
  components: {
    Footer,
  }
};
</script>
